---
layout: default
hide_left_menu: true
---

<div class="flex flex-col lg:flex-row  px-10">
  <div class="basis-2/5 bg-sbdi-bluegreen px-15 py-8 text-white">
    <h2 class="mt-0 uppercase font-normal">SBDI brings biodiversity data together</h2>
    <p class="font-thin">
      SDBI aggregates biodiversity data from multiple sources and makes it available and usable online. It is the largest collection of freely available biodiversity data in Sweden.
    </p>
    <div class="flex flex-wrap justify-center">
    {% for item in site.data.data-counts %}
      <a class="block m-2 px-2 py-1 bg-teal-900 text-white no-underline rounded-md hover:bg-white hover:text-sbdi-bluegreen" 
        href="{{ item.url }}">
        <span class="text-lg block">{% include number-format.html number=item.count decimals=0 ts="," %}</span>
        <span class="text-sm block">{{ item.title }}</span>
      </a>
    {% endfor %}
    </div>
  </div>
  <div class="basis-3/5 bg-sbdi-blue px-15 py-8 text-white">
    <h2 class="mt-0 uppercase font-normal">Making the most of biodiversity data</h2>
    <p class="font-thin">
      Biodiversity data about plants, animals and fungi and their habitats may be used to educate and inform and in environmental decision-making, state of the environment assessments and restoration and rewilding.
    </p>
    <div class="flex flex-wrap justify-center">
    {% for item in site.data.species_groups-count.facetResults[0].fieldResult %}
      {% comment %}The last item is the Unknown group, which we don't want to show{% endcomment %}
      {% if forloop.last %}{% continue %}{% endif %}
      <a class="block m-2 px-2 py-1 bg-sky-950 text-white no-underline rounded-md hover:bg-white hover:text-sbdi-blue" 
        href="https://records.biodiversitydata.se/occurrences/search?fq=species_group:%22{{ item.label }}%22">
        <span class="text-lg block">{% include number-format.html number=item.count decimals=0 ts="," %}</span>
        <span class="text-sm block">{{ item.label }}</span>
      </a>
    {% endfor %}
    </div>
  </div>
</div>

<div class="flex flex-col lg:flex-row mt-8 mb-12">

  <article class="basis-2/3 lg:border-r-4 lg:border-slate-200 lg:pr-4 lg:mr-8">
    <header>
      <h2 class="mb-2">News</h2>
    </header>
    {% assign latest_news = site.news | reverse %}
    {% for news in latest_news limit:3 %}
      <article class="flex flex-col md:flex-row mb-8">
          <div class="basis-1/4 mb-4 md:mb-0 cursor-pointer" onclick="location.href='{{ news.url }}';">
            {% if news.image %}
              <img src="/uploads/news/{{ news.image }}" alt="">
            {% endif %}
          </div>
          <div class="basis-3/4 md:ml-6">
            <header>
              <h3 class="mt-0">
                  <a href="{{ news.url }}" class="no-underline hover:underline">{{ news.title }}</a>
              </h3>
              <div class="mt-1 text-slate-500">
                {{ news.date | date: "%b %d, %Y" }}
              </div>
            </header>
            <p class="mt-2">
              {% include preamble.html page=news %}
            </p>
          </div>
        </article>
    {% endfor %}
    <footer class="mt-6">
      <a class="text-lg link-icon" href="/news/">See all news</a>
    </footer>
  </article>

  <article class="basis-1/3 mt-8 lg:mt-0">
    <header>
      <h2 class="mb-2">Events</h2>
    </header>
    {% include functions/fetch-events.html event_type="upcoming" %}
    {% for event in events limit:3 %}
      <article class="flex flex-col md:flex-row mb-8">
        <div class="basis-1/4 mb-4 md:mb-0 cursor-pointer" onclick="location.href='{{ event.url }}';">
          <div class="hidden md:block relative text-center text-slate-700" aria-hidden="true">
            <img class="inline h-20" src="/assets/images/Calendar-Blank-Vector.svg" alt="">
            <div class="text-lg text-white font-bold uppercase absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-150%]">
              {{ event.start_time | date: "%b" }}
            </div>
            <div class="text-3xl absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-45%]">
              {{ event.start_time | date: "%d" }}
            </div>
            <div class="text-lg absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[50%]">
              {{ event.start_time | date: "%Y" }}
            </div>
          </div>
        </div>
        <div class="basis-3/4 md:ml-6">
          <header>
            <h3 class="mt-0">
                <a href="{{ event.url }}" class="no-underline hover:underline">{{ event.title }}</a>
            </h3>
            <div class="mt-1 text-slate-500">
              {%- include icons/calendar.html class="h-4 inline" -%}
              {%- include event-date.html event=event -%}
            </div>
            {% if event.location %}
              <div class="mt-1 text-slate-500">
                {%- include icons/map-pin.html class="h-4 inline" -%}
                {{ event.location }}
              </div>
            {% endif %}
          </header>
        </div>
      </article>
    {% endfor %}
    <footer class="mt-6">
      <a class="text-lg link-icon" href="/events/">See all events</a>
    </footer>
  </article>

</div>

<h1 class="text-2xl">SBDI is made possible by contributions from its partners and financers:</h1>
<div class="mt-4 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
{% for partner in site.data.partners %}
  <a href="{{ partner.link }}" title="{{ partner.title }}">
    <img src="/uploads/partners/{{ partner.image }}" alt="{{ partner.title }}">
  </a>
{% endfor %}
</div>

<blockquote>
  TODO:
  <ul>
    <li>banner image?</li>
    <li>la and gbif banners?</li>
  </ul>
</blockquote>
