{% assign event = include.event %}
<article class="mt-8 first:mt-4">
  <header>
    <h3 class="mt-0">
      <a class="no-underline hover:underline" href="{{ event.url }}">{{ event.title }}</a>
    </h3>
    <div class="mt-2 text-slate-500">
      {%- include icons/calendar.html -%}
      {%- include event-date.html event=event -%}
    </div>
    {% if event.location %}
      <div class="text-slate-500">
        {%- include icons/location-dot.html -%}
        {{ event.location }}
      </div>
    {% endif %}
  </header>
</article>