<footer aria-label="Site footer" class="bg-sbdi-darkblue mt-12 py-3">
  <div class="container flex px-4">
    <div class="grow self-center text-white">Copyright &copy; 2025 - Swedish Biodiversity Data Infrastructure</div>
    <nav aria-label="Secondary menu">
      <ul class="list-none text-sm">
        <li><a class="text-white" href="/accessibility/">Accessibility</a></li>
        <li><a class="text-white" href="/privacy-policy/">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>
</footer>
