<header class="container flex" aria-label="Site header">
  <a href="/" title="To start page">
    <img src="/assets/images/SBDI-rgb.svg" width="120" height="120" alt="SBDI logotype">
  </a>
  <span class="ml-10 self-end text-xl">Swedish Biodiversitydata Infrastructure</span>
</header>

<nav aria-label="Main menu">
  <ul class="container list-none block">
    <li class="float-left"><a class="p-4" href="/">Home</a></li>
    <li class="float-left"><a class="p-4" href="/en/about/">About</a></li>
    <li class="float-left"><a class="p-4" href="/en/search-analyse/">Search & analyse</a></li>
    <li class="float-left"><a class="p-4" href="/en/apis/">API:s</a></li>
    <li class="float-left"><a class="p-4" href="/en/support/">Support</a></li>
    <li class="float-left"><a class="p-4" href="/en/submit-data/">Submit data</a></li>
  </ul>
  <div class="clear-both"></div>
</nav>
