<header class="container" aria-label="Site header">
  <a href="/" title="To start page">
    <img src="/assets/images/SBDI-rgb.svg" width="120" height="120" alt="SBDI logotype">
  </a>
</header>

<nav aria-label="Main menu">
  <ul class="container list-none block">
    <li class="float-left"><a class="p-4" href="/">Start</a></li>
    <li class="float-left"><a class="p-4" href="/about/">About</a></li>
    <li class="float-left"><a class="p-4" href="/search/">Search & analyse</a></li>
    <li class="float-left"><a class="p-4" href="/api/">API:s</a></li>
    <li class="float-left"><a class="p-4" href="/support/">Support</a></li>
    <li class="float-left"><a class="p-4" href="/submit/">Submit data</a></li>
  </ul>
  <div class="clear-both"></div>
</nav>
