---
---

@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  --breakpoint-2xl: initial;
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-sbdi-darkblue: #004767;
  --color-sbdi-blue: #284966;
  --color-sbdi-mediumblue: #6691a4;
  --color-sbdi-lightblue: #93a4b2;
  --color-sbdi-iceblue: #abccc7;
  --color-sbdi-bluegreen: #58998f;
  --color-sbdi-green: #6aa842;
  --color-sbdi-mediumgreen: #b4d3a0;
  --color-sbdi-lightgreen: #e3e798;
  --color-sbdi-limegreen: #c7d031;
  --color-sbdi-yellowgreen: #e0d833;
  --color-sbdi-lightyellowgreen: #f0ee98;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply mt-2;
    @apply mb-4;
    @apply font-medium;
  }
  h2 {
    @apply text-2xl;
    @apply mt-6;
    @apply mb-1;
    @apply font-medium;
  }
  h3 {
    @apply text-xl;
    @apply mt-3;
    @apply mb-1;
    @apply font-medium;
  }
  p {
    @apply mb-3;
    @apply text-lg;
  }
  ul {
    @apply list-disc;
    @apply list-outside;
    @apply ml-8;
    @apply mb-2;
    @apply text-lg;
  }
  ol {
    @apply list-decimal;
    @apply list-outside;
    @apply ml-8;
    @apply mb-2;
    @apply text-lg;
  }
  a {
    @apply text-sbdi-darkblue;
    @apply underline;
  }
  a:hover {
    @apply underline;
  }
  blockquote {
    @apply border-l-4;
    @apply border-slate-500;
    @apply bg-slate-100;
    @apply pl-4;
    @apply italic;
    @apply mb-3;
  }
}
