<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="container mt-12 px-4">
      <div class="flex">
        {% if menu_0_active_item and menu_0_active_item != 'Home' %}
          <div class="mr-8 w-64 hidden sm:block">
            <nav aria-label="Context menu">
              <span class="block px-3 py-2 bg-sbdi-iceblue text-sbdi-darkblue text-lg">
                {{ menu_0_active_item }}
              </span>
              <ul class="list-none m-0 bg-slate-100">
              {% for item_1 in menu_1_items %}
                <li>
                  <a class="block px-3 py-2 text-sbdi-blue hover:bg-slate-200 no-underline hover:no-underline 
                    {% if item_1.title == menu_1_active_item %}font-bold{% endif %}" href="{{ item_1.path }}">{{ item_1.title }}</a>
                  {% if item_1.title == menu_1_active_item and menu_2_items.size > 0 %}  
                    <ul class="list-none ml-0 bg-slate-100">
                      {% for item_2 in menu_2_items %}
                        <li>
                          <a class="block pl-6 pr-3 py-2 text-sbdi-blue hover:bg-slate-200 no-underline hover:no-underline
                            {% if item_2.title == menu_2_active_item %}font-bold{% endif %}" href="{{ item_2.path }}">{{ item_2.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
              </ul>
            </nav>
          </div>
        {% endif %}
        <main aria-label="Content" class="w-full">
          <article class="grow">
            {{ content }}
          </article>
        </main>
      </div>
    </div>
    {%- include footer.html -%}
  </body>

</html>
