<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="container mt-12 px-4">
      <div class="flex">
        {% if menu_0_active_item.title and page.hide_left_menu != true %}
          <div class="mr-8 w-64 hidden sm:block">
            <nav aria-label="Context menu">
              <span class="block px-3 py-2 bg-sbdi-iceblue text-sbdi-darkblue text-lg">
                {{ menu_0_active_item.title }}
              </span>
              <!-- Level 1 desktop -->
              <ul class="list-none m-0 bg-slate-100">
              {%- include functions/menu-items.html item=menu_0_active_item -%}
              {% for item_1 in menu_items %}
                <li>
                  <a class="block px-3 py-2 text-sbdi-blue hover:bg-slate-200 no-underline hover:no-underline 
                    {% if item_1.title == menu_1_active_item.title %}font-bold{% endif %}" href="{{ item_1.path }}">{{ item_1.title }}</a>
                  {%- include functions/menu-items.html item=item_1 -%}
                  {% if item_1.title == menu_1_active_item.title and menu_items.size > 0 %}
                    <!-- Level 2 desktop -->
                    <ul class="list-none ml-0 bg-slate-100">
                      {% for item_2 in menu_items %}
                        <li>
                          <a class="block pl-6 pr-3 py-2 text-sbdi-blue hover:bg-slate-200 no-underline hover:no-underline
                            {% if item_2.title == menu_2_active_title %}font-bold{% endif %}" href="{{ item_2.path }}">{{ item_2.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
              </ul>
            </nav>
          </div>
        {% endif %}
        <main aria-label="Content" class="w-full">
          <article class="grow">
            {{ content }}
          </article>
        </main>
      </div>
    </div>
    {%- include footer.html -%}
    <script>

      // Show/hide menu items based on login status
      document.addEventListener('DOMContentLoaded', () => {
        let userCookie = getCookie('ALA-Auth-user');
        if (userCookie) {
          let userDetails = userCookie.slice(1,-1).split('|');
          document.getElementById('userIcon').title = `${userDetails[0]} ${userDetails[1]}`;
          document.querySelectorAll('.user-menu-item').forEach((el) => {
            el.classList.toggle('hidden');
          });
        }
      });

      // Search form
      const searchIcon = document.getElementById('searchIcon');
      const searchForm = document.getElementById('searchForm');

      searchIcon.addEventListener('click', (e) => {
        e.preventDefault();
        searchForm.classList.toggle('hidden');
        searchIcon.classList.toggle('bg-sbdi-blue');
        searchForm.querySelector("input[name='query']").focus();
      });

      // User menu
      const userIcon = document.getElementById('userIcon');
      const userMenu = document.getElementById('userMenu');

      userIcon.addEventListener('click', (e) => {
        e.preventDefault();
        userMenu.classList.toggle('hidden');
        userIcon.classList.toggle('bg-sbdi-blue');
      });

      // Close search and user menu when clicking outside
      document.addEventListener('click', (e) => {
        if (!searchIcon.contains(e.target) && !searchForm.contains(e.target)) {
          searchForm.classList.add('hidden');
          searchIcon.classList.remove('bg-sbdi-blue');
        }
        if (!userIcon.contains(e.target) && !userMenu.contains(e.target)) {
          userMenu.classList.add('hidden');
          userIcon.classList.remove('bg-sbdi-blue');
        }
      });
    </script>
  </body>

</html>
