---
layout: default
---

{% if page.event_type == "upcoming" %}
  {% assign other_url = "/events/past/" %}
  {% assign other_name = "past" %}
{% else %}
  {% assign other_url = "/events/" %}
  {% assign other_name = "upcoming" %}
{% endif %}

<div class="flex items-center">
  <h1 class="grow">{{ page.title }}</h1>
  <a href="{{ other_url }}">View {{ other_name }} events</a>
</div>

<div>
  {% include functions/fetch-events.html event_type=page.event_type %}
  {% for event in events %}
    <article class="flex flex-col lg:flex-row mt-8 pb-8 border-b-4 border-slate-200 last:border-0">
      <div class="basis-1/4 mb-4 lg:mb-0 cursor-pointer" onclick="location.href='{{ event.url }}';">
        <div class="hidden lg:block relative text-center text-slate-700" aria-hidden="true">
          {% if event.image %}
            <img src="/uploads/events/{{ event.image }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="basis-3/4 lg:ml-8">
        <header>
          <h2 class="mt-0">
            <a class="no-underline hover:underline" href="{{ event.url }}">{{ event.title }}</a>
          </h2>
          <div class="mt-2 text-slate-500">
            {%- include icons/calendar.html -%}
            {%- include event-date.html event=event -%}
          </div>
          {% if event.location %}
            <div class="text-slate-500">
              {%- include icons/location-dot.html -%}
              {{ event.location }}
            </div>
          {% endif %}
        </header>
        <p class="mt-4">
          {% include preamble.html page=event %}
        </p>
        <footer>
          <a href="{{ event.url }}" title="{{ event.title }}" class="link-icon text-lg">Read more</a>
        </footer>
      </div>
    </article>
  {% endfor %}
</div>
