{%- assign main_menu = site.data.navigation -%}
{%- assign sub_menu = nil -%}
{%- for item in main_menu -%}
  {%- if page.url == item.path -%}
    {%- assign item.is_active = true -%}
    {{ item }}
    {%- assign sub_menu = item -%}
    {%- break -%}
  {%- else -%}
    {%- for item2 in item.items -%}
      {%- if include.path == item2.path or item2.layouts contains page.layout -%}
        {%- assign active_menuitem = item -%}
        {%- break -%}
      {%- endif -%}  
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
